/* Soluzione qui */
@media all and (min-width:768px) {

  #topbar {
    justify-content: left;
  }

  .container {
    padding: 30px;
  }

  .recipe-origin,
  .ads {
    display: block;
  }

  .recipe-title {
    font-size: 1.3rem;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    width: calc(100% / 3);
  }

  .btn {
    width: 20%;
  }

  .clearfix img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

@media all and (min-width:992px) {

  .recipe-title {
    font-size: 1.6rem;
  }

  .quick-notes ul {
    display: block;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
  }

  .recipe-info {
    width: 30%;
  }

}