/* Soluzione qui */
@media all and (min-width:576px) {
  .clearfix img {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .social-networks .btn {
    width: 20%;
  }
}

@media all and (min-width:768px) {

  #topbar {
    justify-content: left;
  }

  .main {
    padding: 30px;
  }

  .recipe-origin {
    display: inline;
  }

  .ads {
    display: block;
  }

  .recipe-title {
    font-size: 1.3rem;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    width: calc(100% / 3);
  }



}

@media all and (min-width:992px) {

  .recipe-title {
    font-size: 1.6rem;
  }

  .quick-notes ul {
    display: block;
  }

  .recipe-card {
    display: flex;
  }

  .recipe-video {
    width: 70%;
  }

  .recipe-info {
    width: 30%;
  }

  .social-networks .label {
    display: block;
  }

  .social-networks .btn {
    display: flex;
    justify-content: center;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  footer address {
    text-align: left;
  }

}