/* Soluzione qui */
@media all and (min-width:768px) {

  #topbar {
    justify-content: left;
  }

  .container {
    padding: 30px;
  }

  .recipe-origin,
  .ads {
    display: block;
  }

  .recipe-title {
    font-size: 2rem;
  }

  .quick-notes ul {
    display: flex;
    flex-wrap: wrap;
  }

  .quick-notes ul li {
    width: calc(100% / 3);
  }

  .btn {
    width: 20%;
  }

  .clearfix img {
    float: left;
  }
}